.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 100vh;
    background-image: url('../public/landing.png');
    background-size: auto;
    background-position: 53% 0;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .buttonContainer {
    display: flex;
    justify-content:space-between;
    width: 100%;
  }